body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    padding: 20px;
    margin: 0;
}

h1 {
    text-align: left;
    color: #000000;
}

form {
    max-width: 800px;
    margin: 1 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

fieldset {
    border: none;
    margin-bottom: =100px;
    
}

legend {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #333;
    font-weight: 500;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}

input:focus,
select:focus {
    border-color: #ffffff;
    outline: none;
}

input[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 2px;
    transition: 0.3s;
}

input[type="number"],
select {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}


input[type="date"],
input[type="time"],
select {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}


input[type="submit"]:hover {
    background-color: #4d4d4d;
}
